#header{
    height: 0px;
    display: none;
}

#p_p_id_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_footer1_{
    display: none;
}

#footer{
    display: none;
}

#callmeback-main{
    display: none;
}

#main-content .shortcode-container.main-menu-shortcode{
    margin: 0px;
}

#main-content .product-prices .product-prices-general{
    margin: 0px;
}

.cc-floating {
    display: none;
}
