body{
    background: #EFA4CC;
    color: #FFF;
}

.numbered-lists dt:before{
    border: 3px solid #FFF;
    color: #FFF;
}

h1 {
    color: #FFF;
}

.cont-wrapper p{
    color: #FFF;
}

.numbered-lists dt p a{
    color: #FFF;
}
