body{
    background: #E44740;
}

#wrapper {
    padding-top: 0em;
}

.col-md-12 {
    padding: 0px;
}

.portlet-decorate .portlet-content{
    border: 0px;
    margin-top: -50px;
    background: #E44740;
}

.item-img-container{
    background: #E44740;
    width:75px;
    height:75px;
    overflow: hidden;
    border-radius: 50%;
}

.item-img{
    width:100%;
    height:100%;
    margin 60px 0px;
}

.item-text{
    font-style:normal;
    margin-left:15px;
    margin-right:15px;
    color: #FFF;
}

.item-title{
    font-weight:900;
    font-size: 18px;
}

.item-author{
    font-weight:400;
}

.lexicon-icon {
    color: #FFF;
}

.separator{
    height: 1px;
    width: 120%;
    margin-left: -10px;
    margin-right: -10px;
    background-color: #e0e0e6;
}
