html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body{
    margin: 0px;
}

#wrapper {
    padding-top: 0em;
}

.col-md-12 {
    padding: 0px;
}

.portlet-content-editable{
    padding: 0px;
}

.portlet-decorate .portlet-content{
    border: 0px;
    margin-top: -50px;
    background: #FFF;
}

.img-content{
    max-width: 100%;
    height: 100%;
    display: block;
    margin: auto;
}

/* Ratings */

.taglib-ratings{
    margin: 16px !important;
}

img{
    max-width: 100%;
}

a {
    font-size: 55px !important;
    color: #E44740;
    text-decoration: none;
}
a:hover, a:focus {
    color: #E44740;
    text-decoration: none;
}
a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.taglib-ratings.stars .liferay-rating-vote, .taglib-ratings.stars .liferay-rating-score {
    display: block;
    padding-top: 10px;
    padding-left: 0px;
    font-size: 20px !important;
    color: #E44740;
}

.rating-label{
    display: inline-block;
}

/* Blog */


p {
    margin: 0px 20px;
    font-size: 18px;
}


.author-content{
    margin-left: 20px;
}

.user-icon{
    border-radius: 0px;
    height: 50px;
    width: 50px;
}

.img-content-blog{
    max-width: 100%;
    height: 100%;
    display: block;
    margin: auto;
}

.img-blog{
    max-width: 100%;
}

/* PDF */

button{
    text-align: center;
    margin-left: 5%;
    width: 90%;
    height: 40px;
    box-shadow: none;
    border-radius: 5px;
    border: 0px;
    background-color: #E44740;
    color: #FFF;
}
