
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

#wrapper {
    padding-top: 0em;
}

.col-md-12 {
    padding: 0px;
}

.container-fluid-1280{
    padding: 0px 0px 0px 15px;
}

.portlet-decorate .portlet-content{
    border: 0px;
    margin-top: -50px;
}

.portlet-content{
    background: #FFF !important;
}

.row{
    margin-left: -15px;
    margin-right: 0px;
}

.item_gallery {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom: 30%;
    margin:1.66%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

