html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
}

#wrapper {
  padding-top: 0;
}

.col-md-12 {
  padding: 0;
}

.portlet-content-editable {
  padding: 0;
}

.portlet-decorate .portlet-content {
  background: #FFF;
  border: 0;
  margin-top: -50px;
}

.img-content {
  display: block;
  height: 100%;
  margin: auto;
  max-width: 100%;
}

/* Ratings */

.taglib-ratings {
  margin: 16px !important;
}

img {
  max-width: 100%;
}

a {
  color: #E44740;
  font-size: 55px !important;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #E44740;
  text-decoration: none;
}

a:focus {
  outline-offset: -2px;
  outline: 5px auto -webkit-focus-ring-color;
  outline: thin dotted;
}

.taglib-ratings.stars .liferay-rating-vote,
.taglib-ratings.stars .liferay-rating-score {
  color: #E44740;
  display: block;
  font-size: 20px !important;
  padding-left: 0;
  padding-top: 10px;
}

.rating-label {
  display: inline-block;
}

/* Blog */

p {
  font-size: 18px;
  margin: 0 20px;
}

.author-content {
  margin-left: 20px;
}

.user-icon {
  border-radius: 0;
  height: 50px;
  width: 50px;
}

.img-content-blog {
  display: block;
  height: 100%;
  margin: auto;
  max-width: 100%;
}

.img-blog {
  max-width: 100%;
}

/* PDF */

button {
  background-color: #E44740;
  border-radius: 5px;
  border: 0px;
  box-shadow: none;
  color: #FFF;
  height: 40px;
  margin-left: 5%;
  text-align: center;
  width: 90%;
}