html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0px;
}

#wrapper {
    padding-top: 0em;
}

.col-md-12 {
    padding: 0px;
}

.portlet-content-editable {
    padding: 0px;
}

.portlet-decorate .portlet-content {
    background: #FFF;
    border: 0px;
    margin-top: -50px;
}

.img-content {
    display: block;
    height: 100%;
    margin: auto;
    max-width: 100%;
}


/* Ratings */

.taglib-ratings {
    margin: 16px !important;
}

img {
    max-width: 100%;
}

a {
    color: #E44740;
    font-size: 55px !important;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #E44740;
    text-decoration: none;
}

a:focus {
    outline-offset: -2px;
    outline: 5px auto -webkit-focus-ring-color;
    outline: thin dotted;
}

.taglib-ratings.stars .liferay-rating-vote,
.taglib-ratings.stars .liferay-rating-score {
    color: #E44740;
    display: block;
    font-size: 20px !important;
    padding-left: 0px;
    padding-top: 10px;
}

.rating-label {
    display: inline-block;
}


/* Blog */

p {
    font-size: 18px;
    margin: 0px 20px;
}

.author-content {
    margin-left: 20px;
}

.user-icon {
    border-radius: 0px;
    height: 50px;
    width: 50px;
}

.img-content-blog {
    display: block;
    height: 100%;
    margin: auto;
    max-width: 100%;
}

.img-blog {
    max-width: 100%;
}