body {
  background: #D6D6D6;
}

#wrapper {
  padding-top: 0;
}

.col-md-12 {
  padding: 0;
}

.portlet-decorate .portlet-content {
  background: #D6D6D6;
  border: 0;
  margin-top: -50px;
}

.user-img-container {
  border-radius: 10%;
  border: 1px solid #E44740;
  display: block;
  height: 80px;
  margin: auto;
  overflow: hidden;
  width: 80px;
}

.user-img {
  height: 100%;
  width: 100%;
}

.user-fullname {
  font-weight: 900;
  text-align: center;
}

.user-fields {
  margin-left: 15px;
}

.red {
  color: #E44740;
}

button {
  background-color: #FFF;
  border-radius: 3px;
  border: 0;
  bottom: 10px;
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.06);
  box-shadow: none;
  color: #E44740;
  font-size: 16px;
  font-weight: 600;
  height: 60px;
  margin-bottom: 24%;
  margin-left: 2.8%;
  position: fixed;
  text-align: center;
  width: 88.5%;
}
