<style>
.MobileCSS { padding: 4%; width: 92%; }
.MobileCSS, .MobileCSS span, .MobileCSS p { font-size: 110%; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: 200; }
.MobileCSS h1, .MobileCSS h2, .MobileCSS h3 { font-size: 140%; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: 400; color: #00a0a2; text-align: center; }
</style>
